@charset "utf-8";



/* 헤어구역, 푸터구역, 기타 등등 공동구역에 대한 스타일 */

.row {max-width: 1232px; margin: 0px auto;}
.sub_row {max-width: 900px; margin: 0px auto;}


#header {
    color: #ffffff;
    z-index: 99999;
}
.lang_back {
    background: #fff;
}
.language {
    position: relative;
}
.language .flag_box {
    width: auto; height: 35px; line-height: 35px;
}
.language .flag_box img {
    width: auto; height: 15px;
}
.language .login_box {
    position: absolute; top: 50%; right: 0px; transform: translateY(-50%);
}
.language .login_box p {
    display: inline-block;
    font-size: 13px; font-weight: bold;
    color: #888888;
}
.language .login_box p::before {
    content: "|";
    color: #cccccc;
    padding: 0px 10px 0px 5px;
}
.language .login_box p:nth-child(1)::before {
    display: none;
}
/* 메뉴1-------------------------------------------------------------------------------------- */

.nav_box {
    background: #101010;
    height: 114px;
}
.nav_box .nav_banner {
    position: relative;
    padding: 30px 0px;
}
.nav_box .open_nav {
    display: none;
}
.nav_box .close_nav {
    display: none;
}
.nav_box h1 {
    display: inline-block;
    padding-left: 20px;
    font-size: 40px;
    letter-spacing: 5px;
}
.nav_box h1:hover {
    display: inline-block;
    padding-left: 20px;
    font-size: 40px;
    letter-spacing: 5px;
    color: palegreen;
    transition: all 0.5s;
}
.nav_box .nav {
    position: absolute; top: 50%; right: 0px; transform: translate(0, -50%);
}
.nav_box .nav .depth1 > li {
    display: inline-block;
    padding: 0px 20px;
    font-weight: bold;
}
.nav_box .nav .depth1 > li > a:hover {
    color: #98885c;
    transition: all 0.5s;
}
/* 메뉴2-------------------------------------------------------------------------------------- */

.nav_box .nav .depth1 .depth2 {
    /* width: 542.5px; */
    width: 0%;
    height: 31px;
    background: #333333;
    /* display: none; */
    opacity: 0;
    position: absolute; top: 150%; left: 0px;
    border-radius: 10px;
    padding: 2px 0px;
}
.nav_box .nav .depth2 > li {
    /* display: inline-block; */
    width: 100%;
    font-weight: normal;
    letter-spacing: 2px;
}
/* .nav_box .nav .depth1 > li:hover .depth2 {
    display: block;
} */
.nav_box .nav .depth2 > li a {
    display: block;
    padding: 5px 10px;
    text-align: center;
}
.nav_box .nav .depth2 > li span {
    color: palegreen;
    font-weight: bold;
}
.nav_box .nav .depth1 li:nth-child(1):hover .depth2::before {
    content: "";
    position: absolute; bottom: 100%; left: 7.5%;
    border-bottom: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.nav_box .nav .depth1 li:nth-child(2):hover .depth2::before {
    content: "";
    position: absolute; bottom: 100%; left: 28%;
    border-bottom: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.nav_box .nav .depth1 li:nth-child(3):hover .depth2::before {
    content: "";
    position: absolute; bottom: 100%; left: 48.5%;
    border-bottom: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.nav_box .nav .depth1 li:nth-child(4):hover .depth2::before {
    content: "";
    position: absolute; bottom: 100%; left: 68.5%;
    border-bottom: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.nav_box .nav .depth1 li:nth-child(5):hover .depth2::before {
    content: "";
    position: absolute; bottom: 100%; left: 88.5%;
    border-bottom: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
/* 푸터메뉴------------------------------------------------------------------------------------------ */
.footer_nav {
    text-align: center;
    background: #212121;
    padding: 20px 0px;
}
.footer_nav li {
    display: inline-block;
}
.footer_nav li a {
    display: block;
    font-size: 13px;
    padding: 20px 30px;
    color: #ffffff;
}
.footer_nav li a:hover {
    display: block;
    font-size: 13px;
    padding: 20px 30px;
    color: #63ebc4;
    transition: all 0.5s;
}
/* 푸터 패밀리사이트 링크-------------------------------------------------------------------------------- */
.footer_nav .family_site .site_link {
    display: inline-block;
    vertical-align: top;
}
.footer_nav .family_site select {
    width: 200px; height: 35px;
    text-indent: 10px;
    font-weight: bold;
}
.family_site a {
    display: inline-block;
    vertical-align: top;
    width: 60px; height: 35px;
    background: #484848; color: #fff;
    text-align: center;
    line-height: 35px;
}

/* 푸터 카피라이트 */
.footer_copy {
    background: #f2f3f4;
    text-align: center;
    font-size: 13px;
    color: #777777;
    padding: 20px 0px;
}




/* 밑에 disply:none로 없애놓고 자바스크립트로 적용시킬 때 display를 지우고 홈페이지에서 몇초뒤에 사라지게 부여해야됨 */
.loadBox {
    /* display: none;  */
    position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; 
    background-color: rgba(252,252,252); 
    z-index: 999999;
    width: 100%; text-align: center;
}
.loadBox img {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.loadBox span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    position: absolute; top: 65%; left: 50%;
    transform: translateX(-50%);
}
.loadBox span p {
    display: inline-block;
}