@charset "utf-8";




.sub_row {max-width: 900px; margin: 0px auto;}


#facility_back .slide {
    background: url(../images/facility_slide.jpg) no-repeat;
    background-size: cover; background-position: center;
    width: 100%; height: 400px;
    padding: 98.5px 0px;
}
#facility_back .slide .text_box {
    text-align: right;
    text-shadow: -3px 3px 3px gray;
}
/* 슬라이드 텍스트----------------------------------------------------------------------------- */
#facility_back .slide .text_box h1 {
    font-size: 38px; font-weight: lighter;
    color: #ffffff;
    margin-bottom: 25px;
    animation: tada 1s both;
}
#facility_back .slide .text_box h1 span {
    font-weight: bold;
}
#facility_back .slide .text_box p {
    font-size: 22px; font-weight: lighter;
    color: #ffffff;
    animation: tada 1s both 1s;
}
#facility_back .slide .text_box .learn_more {
    background: #9bcb43;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px; font-weight: bold;
    color: #ffffff;
    margin-top: 20px; padding: 15px 30px;
    cursor: pointer;
    text-shadow: none;
    animation: tada 1s both 2s;
}
#facility_back .slide .text_box .learn_more:hover {
    background: orange;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px; font-weight: bold;
    color: #ffffff;
    margin-top: 20px; padding: 15px 30px;
    cursor: pointer;
    text-shadow: none;
    transition: all 0.5s;
}
/* 메인 버튼--------------------------------------------------------------------------------------- */
#facility_back .center {
    padding: 50px 0px;
}
#facility_back .center .button a {
    display: inline-block;
}
#facility_back .center .button span {
    display: block;
    width: 150px; height: 40px; line-height: 40px;
    font-weight: bold;
    text-align: center;
}
#facility_back .center .button a {
    background: #f3f3f3; color: #666666;
    font-size: 15px;
    border: 1px solid #d2d2d2;
}
#facility_back .center .button a.on {
    background: #666666; color: #ffffff;
    font-size: 15px;
    border: 1px solid #d2d2d2;
}
/* 검색박스------------------------------------------------------------------------------------------ */
#facility_back .center .search_box {
    text-align: right;
    padding: 40px 10px 0px 0px;
}
#facility_back .center .search_box select,
#facility_back .center .search_box input,
#facility_back .center .search_box button {
    height: 30px;
}
#facility_back .center .search_box select {
    cursor: pointer;
    border-radius: 10px;
}
#facility_back .center .search_box input {
    border-bottom: 1px solid #000000;
    padding-left: 10px;
}

#facility_back .center .search_box button {
    background: #ffffff;
}
/* 메인 이미지-------------------------------------------------------------------------------------- */
/* #facility_back .center .facility_img_back {
    padding: 50px 0px;
} */
#facility_back .center .facility_img {
    width: 32%;
    display: inline-block;
    margin: 10px 3px;
}
#facility_back .center .facility_img img {
    width: 100%;
}
#facility_back .center .facility_img img:hover {
    width: 100%;
    opacity: 0.5;
    transition: all 0.5s;
}
#facility_back .center .facility_img p {
    text-align: center;
    padding: 10px 0px;
    font-size: 15px; font-weight: bold; 
    color: #666666;
}






/* 비디오 페이지-------------------------------------------------------------------------------- */
.div_vid {
    display: none;
}
/* 비디오 메인  제목 ---------------------------------------------------------------------------------- */
#facility_back .center .product {
    margin: 20px 0px 30px;
}
#facility_back .center .product h2 {
    font-size: 25px;
    color: #666666;
    padding-bottom: 10px;
}
#facility_back .center .product p {
    font-size: 15px;
    color: #666666;
    padding-bottom: 20px;
}
/* 비디오 메인  텍스트 ---------------------------------------------------------------------------------- */
#facility_back .center .video_text {
    text-align: center;
}
#facility_back .center .video_text h2 {
    font-size: 22px;
    color: #666666;
    padding: 50px 0px 10px;
}
#facility_back .center .video_text p {
    font-size: 17px;
    color: #666666;
    padding-bottom: 50px;
}
/* 비디오 메인  유투브 ---------------------------------------------------------------------------------- */
#facility_back .center .youtube {
    text-align: center;
}
#facility_back .center .youtube p {
    padding: 30px 0px 10px;
    color: #666666;
    font-size: 17px; font-weight: bold;
}













