@charset "utf-8";



.sub_row {max-width: 900px; margin: 0px auto;}


#facility_video_back .slide {
    background: url(../images/facility_slide.jpg) no-repeat;
    background-size: cover; background-position: center;
    width: 100%; height: 400px;
    padding: 98.5px 0px;
}
#facility_video_back .slide .text_box {
    text-align: right;
    text-shadow: -3px 3px 3px gray;
}
/* 슬라이드 텍스트----------------------------------------------------------------------------- */
#facility_video_back .slide .text_box h1 {
    font-size: 38px; font-weight: lighter;
    color: #ffffff;
    margin-bottom: 25px;
}
#facility_video_back .slide .text_box h1 span {
    font-weight: bold;
}
#facility_video_back .slide .text_box p {
    font-size: 22px; font-weight: lighter;
    color: #ffffff;
}
#facility_video_back .slide .text_box .learn_more {
    background: #9bcb43;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px; font-weight: bold;
    color: #ffffff;
    margin-top: 20px; padding: 15px 30px;
    cursor: pointer;
    text-shadow: none;
}
#facility_video_back .slide .text_box .learn_more:hover {
    background: orange;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px; font-weight: bold;
    color: #ffffff;
    margin-top: 20px; padding: 15px 30px;
    cursor: pointer;
    text-shadow: none;
    transition: all 0.5s;
}
/* 메인 버튼--------------------------------------------------------------------------------------- */
#facility_video_back .center {
    padding: 50px 0px;
}
#facility_video_back .center .button a {
    display: inline-block;
}
#facility_video_back .center .button span {
    display: block;
    width: 150px; height: 40px; line-height: 40px;
    font-weight: bold;
    text-align: center;
}
#facility_video_back .center .button a:nth-child(1) {
    background: #f3f3f3; color: #666666;
    font-size: 15px;
    border: 1px solid #d2d2d2;
}
#facility_video_back .center .button a:nth-child(2) {
    background: #666666; color: #ffffff;
    font-size: 15px;
    border: 1px solid #d2d2d2;
}
/* 메인  제목 ---------------------------------------------------------------------------------- */
#facility_video_back .center .product {
    margin: 20px 0px 30px;
}
#facility_video_back .center .product h2 {
    font-size: 25px;
    color: #666666;
    padding-bottom: 10px;
}
#facility_video_back .center .product p {
    font-size: 15px;
    color: #666666;
    padding-bottom: 20px;
}
/* 메인  텍스트 ---------------------------------------------------------------------------------- */
#facility_video_back .center .video_text {
    text-align: center;
}
#facility_video_back .center .video_text h2 {
    font-size: 22px;
    color: #666666;
    padding: 50px 0px 10px;
}
#facility_video_back .center .video_text p {
    font-size: 17px;
    color: #666666;
    padding-bottom: 50px;
}
/* 메인  유투브 ---------------------------------------------------------------------------------- */
#facility_video_back .center .youtube {
    text-align: center;
}
#facility_video_back .center .youtube p {
    padding: 30px 0px 10px;
    color: #666666;
    font-size: 17px; font-weight: bold;
}



















