@charset "utf-8";







/* #section {
    padding-top: 149px;
} */


.slide_outer {
    position: relative; height: 792.91px; overflow: hidden;
}
.slide_outer .slide_inner .slide {
    width: 100%; height: 792.91px;
    /* height: 100%;  */
    background-size: cover; background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.slide_outer .slide_inner .slide1 {
    background: url(../images/slide1.jpg);
}
.slide_outer .slide_inner .slide2 {
    background: url(../images/slide2.jpg);
}
.slide_outer .slide_inner .slide3 {
    background: url(../images/slide3.jpg);
}
.slide_outer .slide_inner .slide4 {
    background: url(../images/slide4.jpg);
}
/* 텍스트-------------------------------------------------------------------------------------------- */
.slide_outer .slide_inner .slide .text {
    color: #ffffff;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    text-align: center;
}
.slide_outer .slide_inner .slide .text h2 {
    font-size: 61px;
    padding: 0px 0px 30px;
}
.slide_outer .slide_inner .slide .text span {
    display: block;
    padding: 5px 0px;
    font-size: 14px;
}
.slide_outer .slide_inner .slide .text p {
    width: 183px; height: 59px;
    border: 1px solid ivory; border-radius: 10px;
    background: rgba(0,0,0,0.5);
    padding: 19px 0px; margin: 50px auto 0px;
    font-size: 13px;
}
.slide_outer .slide_inner .slide .text p:hover {
    width: 183px; height: 59px;
    border: 1px solid ivory; border-radius: 10px;
    background: rgba(108, 96, 81, 0.7);
    transition: all 0.5s;
    cursor: pointer;
    padding: 19px 0px; margin: 50px auto 0px;
    font-size: 13px;
}
/* 슬라이드 화살표--------------------------------------------------------------------------------------- */
.slide_outer .arr {
    color: #ffffff;
    position: absolute; top: 50%; transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
    background: none;
    border: none;
}
.slide_outer .arr:hover {
    color: #ffffff;
    opacity: 0.5;
    transition: all 0.5s;
    position: absolute; top: 50%; transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
}
.slide_outer .prev {
    left: 100px; z-index: 99;
}
.slide_outer .next {
    right: 100px;
}
/* 슬라이드 구역 도트----------------------------------------------------------------------- */
.slide_outer .slick-dots {
    position: absolute; top: 85%; left: 50%;
    transform: translateX(-50%);
}
.slide_outer .slick-dots li {
    display: inline-block;
}
.slide_outer .slick-dots li button {
    width: 15px; height: 15px;
    border-radius: 50%; border: 1px solid #fff;
    background: none;
    text-indent: -99999px; overflow: hidden;
    margin: 0px 5px;
}
.slide_outer .slick-dots li.slick-active button { 
    width: 15px; height: 15px;
    border-radius: 50%; border: 1px solid #fff;
    background: #fff;
    text-indent: -99999px; overflow: hidden;
    margin: 0px 5px;
}
/* 슬라이드 구역 재생버튼-------------------------------------------------------------------- */
.slide_outer .plpa {
    position: absolute; top: 84.5%; left: 53%;
    font-size: 15px;
    padding: 4px 0px;
    background: none; color: #fff;
    border-radius: none;
}
/* 사업영역---------------------------------------------------------------------------------------------- */
#section .title h2 {
    text-align: center;
    font-size: 28px;
    padding: 75px 0px;
}
.business_back {
    background: #f2f3f4;
}
.business .busi_photo {
    padding: 0px 10px;
}
.business .busi_photo div {
    height: 185px;          /* 사진이 div박스 안에서 커지고 싶으면 height값을 주고 overflow:hidden */
    overflow: hidden;
}
/* .business .busi_photo img:hover {
    transform: scale(1.5); transition: all 0.5s;
} */
.business ul {
    padding: 0px 0px 35px;
}
.business ul > li {
    width: 24%;
    display: inline-block;
}
.business ul > li img {
    width: 100%;
}
.business ul > li:nth-child(1).on {
    animation: fadeInLeft 0.5s both;
}
.business ul > li:nth-child(2).on {
    animation: fadeInUp 0.5s both;
}
.business ul > li:nth-child(3).on {
    animation: fadeInDown 0.5s both;
}
.business ul > li:nth-child(4).on {
    animation: fadeInRight 0.5s both;
}
.business ul > li img:hover {
    transform: scale(1.5); transition: all 0.5s;
}
.business ul > li h3 {
    text-align: center;
    font-size: 22px;
    padding: 15px 0px 5px;
}
.business ul > li p {
    font-size: 14px;
    color: #464646;
    padding: 10px 0px;
}
/* 포토갤러리-------------------------------------------------------------------------------------------- */
.photo_gall_back {
    position: relative;
    margin-bottom: 65px;
}
.photo_gall {
    margin-bottom: 35px;
}
/* .photo_gall ul {
    height: 272.03px;
} */
.photo_gall ul > li {
    width: 33.33%;
    float: left;
}
.photo_gall ul > li img {
    width: 100%; 
    /* margin: 0px 20px; */
}
/* .slide-outer2 .slick-slide {
    opacity: 0.6;
    transform: scale(0.8);
    transition: all 0.5s;
}
.slide-outer2 .slick-slide.slick-active {
    opacity: 1;
    transform: scale(0.5);
}
.slide-outer2 .slick-slide.slick-active.slick-current {
    transform: scale(1);
} */
/* 갤러리 도트----------------------------------------------------------------------------------------- */
.photo_gall_back .slick-dots {
    position: absolute; top: 100%; left: 50%;
    transform: translateX(-50%);
    padding: 10px 0px;
}
.photo_gall_back .slick-dots li {
    display: inline-block;
    width: 19%;
}
.photo_gall_back .slick-dots li button {
    width: 15px; height: 15px;
    border-radius: 50%; border: 1px solid #fff;
    background: #ccc;
    text-indent: -99999px; overflow: hidden;
    margin: 0px 5px;
}
.photo_gall_back .slick-dots li.slick-active button { 
    width: 15px; height: 15px;
    border-radius: 50%; border: 1px solid #fff;
    background: lime;
    text-indent: -99999px; overflow: hidden;
    margin: 0px 5px;
}


/* 갤러리 화살표---------------------------------------------------------------------------------------- */
.photo_gall_back .arr {
    color: black;
    position: absolute; top: 50%; transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    border: none;
    background: none;
}
.photo_gall_back .arr:hover {
    color: pink;
    opacity: 0.5;
    transition: all 0.5s;
    position: absolute; top: 50%; transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
}
.photo_gall_back .prev {
    left: 10px; z-index: 99;
}
.photo_gall_back .next {
    right: 10px;
}
/* 주요강사진-------------------------------------------------------------------------------------------- */

.main_teacher .teacher_box {
    width: 24%;
    float: left;
    text-align: center;
    padding: 10px 0px 80px; margin: 0px 0.5%;
}
.main_teacher .teacher_box:hover {
    width: 24%;
    float: left;
    text-align: center;
    padding: 30px 0px 60px; margin: 0px 0.5%;
    background: #f0f0f0;
    transition: all 0.5s;
}
.main_teacher .teacher_box:hover h3 {
    color: #ffffff;
}
.main_teacher .teacher_box .teacher_photo > img {
    width: 100%;
}
.main_teacher .teacher_box h3 {
    font-size: 19px;
    color: #777777;
    padding: 25px 0px 0px;
}
.main_teacher .teacher_box p {
    font-size: 14px;
    color: #949494;
    padding: 5px 0px;
}
.main_teacher .teacher_box .teacher_mail {
    color: #949494;
}
/* 제품가격표-------------------------------------------------------------------------------------------- */
.menu_back {
    background: #f2f3f4;
    padding: 30px 0px 60px; 
}
.menu .menu_list {
    width: 24.5%;
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
}
.menu .menu_list h2 {
    font-size: 22px;
    padding: 16.5px 0px;
    color: #ffffff;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
}
.menu .menu_list h3 {
    font-size: 22px;
    padding: 19px 0px 19px;
    background: #e7eaec;
}
.menu .menu_list h3 span {
    font-weight: normal;
    color: rgba(51,51,51,0.25);
}
.menu .menu_list > div {
    background: #ffffff;
    padding: 50px 0px;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
}
.menu .menu_list p {
    font-size: 17px;
    color: #777777;
    padding: 10px 0px;
}
.menu .menu_list .buy_now {
    display: block;
    width: 150px; height: 50px;
    font-size: 17px; font-weight: bold;
    border: 2px solid #000000; border-radius: 30px;
    padding: 10px 0px; margin: 40px auto 0px;
}
.menu .menu_list .buy_now:hover {
    display: block;
    width: 150px; height: 50px;
    font-size: 17px; font-weight: bold;
    background: #8dc63f; color: #ffffff;
    border-radius: 30px; border: 2px solid #8dc63f;
    transition: all 1s;
    padding: 10px 0px; margin: 40px auto 0px;
}
.menu .menu_list .buy_now a {
    display: block;
}
.menu .starter h2 {
    background: #c2c2c2;
}
.menu .basic h2 {
    background: #8dc63f;
}
.menu .pro h2 {
    background: #0099ff;
    position: relative;
    overflow: hidden;
}
.menu .pro img {
    position: absolute; top: 0px; right: 0px;
}
.menu .advenced h2 {
    background: #333333;
}
/* 제휴파트너-------------------------------------------------------------------------------------------- */
.partner {
    padding: 30px 0px 105px;
    /* position: relative; */
    /* margin-bottom: 105px; */
}
.partner ul > li {
    display: inline-block;
}
.partner img {
    
}
/* 제휴파트너 화살표----------------------------------------------------------------------------------------- */
.partner .arr {
    position: absolute; top: 50%; transform: translateY(-50%);
    color: #000000;
    font-size: 30px;
    background: none; border: none;
}
.partner .arr:hover {
    position: absolute; top: 50%; transform: translateY(-50%);
    color: #cccccc; 
    transition: all 0.5s;
    cursor: pointer;
    font-size: 30px;
    background: none; border: none;
}
.partner .prev {
    left: 0px; z-index: 99;
}
.partner .next {
    right: 0px;
}
/* 제휴파트너 도트----------------------------------------------------------------------------------------- */
.partner .slick-dots {
    position: absolute; top: 120%; left: 50%;
    transform: translateX(-50%);
    padding: 10px 0px;
}
.partner .slick-dots li {
    display: inline-block;
    width: 50%;
}
.partner .slick-dots li button {
    width: 13px; height: 13px;
    border-radius: 50%;
    background: #ccc;
    color: transparent;
    margin: 0px 5px;
}
.partner .slick-dots li.slick-active button { 
    width: 13px; height: 13px;
    border-radius: 50%;
    background: lime;
    color: transparent;
    margin: 0px 5px;
}
/* 프로젝트--------------------------------------------------------------------------------------------- */
.project_back {
    background: #f2f3f4;
    padding-bottom: 70px;
}
.project li {
    opacity: 0;
    width: 24%;
    float: left;
    position: relative;    
}
.project li.on {
    animation: fadeInUp 0.5s both;
}
.project li.on:nth-child(2) {
    animation-delay: 0.2s;
}
.project li.on:nth-child(3) {
    animation-delay: 0.4s;
}
.project li.on:nth-child(4) {
    animation-delay: 0.6s;
}
.project li.on:nth-child(5) {
    animation-delay: 0.8s;
}
.project li.on:nth-child(6) {
    animation-delay: 1s;
}
.project li.on:nth-child(7) {
    animation-delay: 1.2s;
}
.project li.on:nth-child(8) {
    animation-delay: 1.4s;
}
.project img {
    width: 100%;
}
.project li span {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 100px; height: 50px; line-height: 50px;
    text-align: center;
    font-size: 15px; font-weight: bold;
    color: #ffffff;
    border: 1px solid #ffffff; border-radius: 5px;
    opacity: 0;
}
.project li:hover span {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 100px; height: 50px; line-height: 50px;
    text-align: center;
    font-size: 15px; font-weight: bold;
    color: #ffffff;
    border: 2px solid #ffffff; border-radius: 5px;
    transition: all 0.5s;
    opacity: 1;
}
.project li span:hover {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 100px; height: 50px; line-height: 50px;
    text-align: center;
    font-size: 15px; font-weight: bold;
    color: #73767e; background: #ffffff;
    border: 2px solid #ffffff; border-radius: 5px;
    transition: all 0.5s;
    opacity: 1;
}
.project li .overlay {
    position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
    background: rgba(155,203,67,0);
    transition: all 0.5s;
}
.project li:hover .overlay {
    position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
    background: rgba(155,203,67,0.4);
}
/* 위로 버튼--------------------------------------------------------------------------------------------- */

.go_top {
    position: fixed; bottom: 50px; right: 50px;
    font-size: 30px;
    color: skyblue;
}
.go_top:hover {
    position: fixed; bottom: 50px; right: 50px;
    font-size: 30px;
    color: darkgray;
}
.go_top:hover .lightning {
    display: block;
}
.go_top .lightning {
    font-size: 9px;
    color: yellow;
    position: fixed; bottom: 44px; right: 55px;
    display: none;
}






