@charset "utf-8";




#login_back {
    padding: 70px 0px;
}
#login_back .login_page {
    width: 640px;
    text-align: center;
    border: 1px solid #000000; border-radius: 50px;
    padding: 60px 70px;
}
#login_back .login_box h1 {
    font-size: 40px;
    margin-bottom: 40px;
}
/* input박스------------------------------------------------------------------------------------------- */
#login_back .idpw_box input {
    display: block;
    font-size: 16px;
    width: 500px; height: 60px;
    padding: 20px 0px 0px 10px;
    border-bottom: 1px solid #000000;
}

#login_back .login_content .check_box {
    font-size: 13px;
    text-align: left;
    padding: 20px 0px;
}
#login_back .login_content .check_box label {
    padding-right: 10px;
}
/* ID 찾기----------------------------------------------------------------------------------------------- */
#login_back .login_content .link a {
    float: left;
    text-align: left;
    font-size: 13px;
    color: #333333;
    padding: 10px 0px; margin: 10px 0px 40px;
}
#login_back .login_content .link a:last-child i {
    color: red;
}
#login_back .login_content .link a:last-child:hover i {
    color: blue;
    transition: all 0.5s;
}
#login_back .login_content .link a::before {
    content: "|";
    margin: 0px 10px 0px 10px;
}
#login_back .login_content .link a:first-child::before,
#login_back .login_content .link a:last-child::before {
    display: none;
}
#login_back .login_content .link a:last-child {
    float: right;
    text-align: right;
    font-size: 13px;
    color: #333333;
}
/* 버튼 로그인박스---------------------------------------------------------------------------------- */
#login_back .login_content button {
    display: block;
    margin: 5px auto; padding: 10px 0px;
    font-size: 14px;
    width: 300px;
    background: #ffffff;
    border: 1px solid #cccccc; border-radius: 10px;    
}
#login_back .login_content .button_login {
    background: pink;
    font-size: 18px;
    font-weight: bold;
}
#login_back .login_content .button_login:hover {
    background: pink; color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
}
/* 버튼 햄버거박스---------------------------------------------------------------------------------- */
#login_back .login_content .button_box button {
    height: 54px;
    vertical-align: middle;
}
#login_back .login_content .button_box button:nth-child(1) span::before {
    content: "";
    display: inline-block;
    width: 22px; height: 22px;
    background: url(../images/hamburger.png) no-repeat;
    background-size: 50px auto; background-position: -5px -19px;
    position: relative; top: 5px; right: 30%;
    vertical-align: middle;
}
#login_back .login_content .button_box button:nth-child(2) span::before {
    content: "";
    display: inline-block;
    width: 22px; height: 29px;
    background: url(../images/hamburger.png) no-repeat;
    background-size: 50px auto; background-position: -11px -62px;
    position: relative; top: 5px; right: 23%;
    vertical-align: middle;
}
#login_back .login_content .button_box button:nth-child(3) span::before {
    content: "";
    display: inline-block;
    width: 22px; height: 15px;
    background: url(../images/hamburger.png) no-repeat;
    background-size: 50px auto; background-position: -11px -105px;
    position: relative; top: 5px; right: 23%;
    vertical-align: middle;
}
#login_back .login_content .button_box button:nth-child(4) span::before {
    content: "";
    display: inline-block;
    width: 22px; height: 23px;
    background: url(../images/hamburger.png) no-repeat;
    background-size: 50px auto; background-position: -12px -148px;
    position: relative; top: 5px; right: 18%;
    vertical-align: middle;
}
/* #login_back .login_content .button_box button:nth-child(1) {
    background: url(../images/kfc.png) no-repeat 17px 50%;
    background-size: auto 30px;
}
#login_back .login_content .button_box button:nth-child(2) {
    background: url(../images/lotteria.png) no-repeat 5px 50%;
    background-size: auto 30px;
}
#login_back .login_content .button_box button:nth-child(3) {
    background: url(../images/mcdonard.png) no-repeat 12px 50%;
    background-size: auto 30px;
}
#login_back .login_content .button_box button:nth-child(4) {
    background: url(../images/burgerking.png) no-repeat 13px 50%;
    background-size: auto 30px;
} */







