@charset "utf-8";

.sitemapBox {
    padding: 100px 0px 50px;
}
.sitemapBox h2 {
    font-size: 50px;
    padding: 0px 0px 100px 10px;
}





.sitemapBox .siteList {
    display: inline-block;
    width: 24.5%;
    vertical-align: top;
    padding-left: 10px;
}
.sitemapBox .siteList span {
    font-size: 18px; font-weight: bold;
    color: #121212;
    border-bottom: 2px solid #121212;
    padding: 0px 0px 10px 10px;
    display: block;
}
.sitemapBox .siteList ul {
    padding: 30px 0px 100px 10px;
}
.sitemapBox .siteList ul li {
    font-size: 14px; font-weight: bold;
    color: #121212;
    padding-bottom: 20px;
}



@media screen and (max-width:450px) {

    .sitemapBox h2 {
        font-size: 30px;
        padding: 0px 0px 70px 10px;
    }
    .sitemapBox .siteList span {
        font-size: 13px; font-weight: bold;
        color: #121212;
        border-bottom: 2px solid #121212;
        padding: 0px 0px 10px 10px;
        display: block;
    }
    .sitemapBox .siteList ul {
        padding: 15px 0px 60px 10px;
    }
    .sitemapBox .siteList ul li {
        font-size: 10px; font-weight: bold;
        color: #121212;
        padding-bottom: 15px;
    }
    

}